description = "Default layout"

[session]
security = "all"

==

use Bboxdigi\Bale\Models\Header;
use Bboxdigi\Bale\Models\Footer;

function onStart()
{
  $this['header'] = Header::first();
  $this['footer'] = Footer::first();
}

==

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1.0' />
  <title>{{ title }}</title>

  {% partial 'scripts' %}

  <link rel="stylesheet" media="all" href="/themes/bale/assets/css/main.css?v={{ random() }}">
  <script type="text/javascript" src="/themes/bale/assets/js/main.js?v={{ random() }}"></script>
</head>
<body>
  {% partial 'header' %}

  {% page %}

  {% partial 'footer' %}
</body>
</html>
