<footer>
  <div class="container full-width">
    <a class="email" href="mailto:{{ footer.email }}">{{ footer.getEmailHtml() | raw }}</a>
    <a class="phone" href="tel:{{ footer.phone }}">{{ footer.phone }}</a>

    <p class="address">{{ footer.address }}</p>

    <p class="copyright">
      {{ footer.copyright }}<br>
      {{ footer.design }}</a>
    </p>

    <p>
      <a href="/contact" class="contact-button btn-brown">Оставить заявку</a>
      <a href="#" class="presentation-link btn-brown">Скачать презентацию</a>
    </p>

    <img class="footer-img" src="{{ footer.picture.getPath() }}">
  </div>
</footer>