<header>
  <div class="container header-container">
    <ul>
      <li><a href="/" class="logo" style="background-image: url({{ header.logo.getPath() }});"></a></li>
      <li><a href="/about">{{ header.about }}</a></li>
      <li><a href="/location">{{ header.location }}</a></li>
      <li><a href="/infrastructure">{{ header.infrastructure }}</a></li>
      <li><a href="/interrior">{{ header.interrior }}</a></li>
      <li><a href="/overview">{{ header.overview }}</a></li>
      <li><a href="/contact">{{ header.contact }}</a></li>
      <li><a href="tel:{{ header.phone | raw }}"><i class="phone"></i>{{ header.phone }}</a></li>
    </ul>
  </div>
  <div class="header-mobile">
    <a class="logo" href="/"><img src="{{ header.logo.getPath() }}"></a>
    <button class="burger"></button>
  </div>
</header>
<div class="mobile-menu">
  <a class="logo" href="/"><img src="{{ header.logo.getPath() }}"></a>
  <div class="inner">
    <a href="/about">{{ header.about }}</a>
    <a href="/location">{{ header.location }}</a>
    <a href="/infrastructure">{{ header.infrastructure }}</a>
    <a href="/interrior">{{ header.interrior }}</a>
    <a href="/overview">{{ header.overview }}</a>
    <a href="/contact">{{ header.contact }}</a>
  </div>
  <button class="close"></button>
</div>
