<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('bboxdigi/bale/contact') ?>">Contact</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-validate
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving Contact..."
                    class="btn btn-primary">
                    <u>S</u>ave
                </button>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('bboxdigi/bale/contact') ?>" class="btn btn-default">Return to contact list</a></p>

<?php endif ?>
