<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('bboxdigi/bale/header') ?>">Header</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?php Block::put('form-contents') ?>

        <div class="layout-row min-size">
            <?= $this->formRenderOutsideFields() ?>
        </div>

        <div class="layout-row">
            <?= $this->formRenderPrimaryTabs() ?>
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-validate
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving Header..."
                    class="btn btn-primary">
                    <u>S</u>ave
                </button>
            </div>
        </div>

        <?php Block::endPut() ?>

        <?php Block::put('form-sidebar') ?>
            <div class="hide-tabs"><?= $this->formRenderSecondaryTabs() ?></div>
        <?php Block::endPut() ?>
    
        <?php Block::put('body') ?>
            <?= Form::open(['class'=>'layout stretch']) ?>
                <?= $this->makeLayout('form-with-sidebar') ?>
            <?= Form::close() ?>
        <?php Block::endPut() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('bboxdigi/bale/header') ?>" class="btn btn-default">Return to header list</a></p>

<?php endif ?>
