title = "О ДОМЕ"
url = "/about"
layout = "default"

==

use Bboxdigi\Bale\Models\About;
use Bboxdigi\Bale\Models\Neighbor;

function onStart()
{
  $this['about'] = About::first();
  $this['neighbors'] = Neighbor::all();
}

==
<div class="container full-width">
  <div class="top-section">
    <div class="ornament-left"></div>
    <div class="ornament-right"></div>

    <div class="spacer"></div>

    <h1 class="text-left-decoration">{{ about.getHeadingHtml() | raw }}</h1>

    <p class="text-left-decoration-padding">{{ about.subheading }}</p>
    <div class="arr-down bounce"><img src="{{'assets/images/arr-down.svg'|theme}}" alt=""></div>
  </div>
</div>

<div class="container">
  <div class="slider-section-container">
    <div class="slider-section">
      <h2>{{ about.properties }}</h2>

      <div class="feature-slider">
        {% for picture in about.pictures1 %}
          <div>
            <div class="image" style="background-image: url('{{ picture.getThumb(1920, 1080) }}')"></div>
            <div class="title">{{ picture.title }}</div>
            <div class="description">{{ picture.description }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="feature-slider-caption">
    <h3></h3>
    <p></p>
  </div>
</div>

<div class="container full-width light-bg">
  <div class="alt-slider-container">
    <div class="alt-slider-section">
      <div class="alt-slider">
        {% for picture in about.pictures2 %}
          <div class="slide" style="background-image: url('{{ picture.getThumb(1920, 1080) }}')"></div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container full-width light-bg">
  <div class="overview-section">
    <h2><a href="/overview" class="italic-link">{{ about.overview_link }}</a></h2>

    <div class="overview-content">
      <img src="{{ about.getOverviewThumbUrl() }}" class="overview">

      <div class="text">
        <h3>{{ about.overview_heading }}</h3>

        <p>{{ about.overview_text }}</p>
      </div>
    </div>

    <div class="ornament-right"></div>
  </div>
</div>

<div class="container full-width light-bg">
  <div class="large-slider-container">
    <div class="large-slider-section light-bg">
      <div class="large-slider">
        {% for picture in about.pictures3 %}
          <img src="{{ picture.getThumb(1920, 1080) }}">
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container full-width light-bg">
  <div class="alternating-sections">
    <section class="expandable half">
      <a href="#toggle" class="section-heading">{{ about.history_heading }}<span class="caret"></span></a>

      <div class="content">
        <div class="">
          <h3>{{ about.history_heading }}</h3>
          <p>{{ about.history_text }}</p>
        </div>

<!--           <div class="right">
          <div class="ornament-right"></div>
        </div> -->
      </div>
    </section>

    <section class="expandable half">
      <a href="#toggle" class="section-heading">{{ about.first_owner_heading }}<span class="caret"></span></a>

      <div class="content">
<!--           <div class="left">
          <div class="ornament-left"></div>
        </div> -->

        <div class="">
          <h3>{{ about.first_owner_heading }}</h3>
          <p>{{ about.first_owner_text }}</p>
        </div>
      </div>
    </section>

    <section class="expandable">
      <a href="#toggle" class="section-heading">{{ about.neighbors_heading }}<span class="caret"></span></a>

      <div class="content">
        <div class="left">
          <h3>{{ about.neighbors_heading }}</h3>
          <p>{{ about.neighbors_text }}</p>
        </div>

        <div class="neighbors right images">
          {% for neighbor in neighbors %}
            <div class="item" data-content="{{ neighbor.description }}">
              <img src="{{ neighbor.picture.getThumb(170, 170, 'crop') }}">
              <span class="name">{{ neighbor.name }}</span>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>
</div>
