title = "КОНТАКТЫ"
url = "/contact"
layout = "default"

[contactComponent]

==

use Bboxdigi\Bale\Models\Contact;

function onStart()
{
  $this['contact'] = Contact::first();
}

==
<div class="container full-width">
  <div class="top-section contacts">
    <div class="container light-bg grow">
      <div class="half">
        <a class="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        <a class="phone" href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
        <p>{{ contact.getAddressHtml() | raw }}</p>
      </div>
      <div class="half">
        <form class="form" data-request="contactComponent::onSend" data-request-success="contactFormSuccess()">
          <h2>{{ contact.heading }}</h2>
          <input type="text" class="input half-input" placeholder="Имя *" name="name" required>
          <input type="text" class="input half-input" placeholder="+7 (999) 999 99 99 *" name="phone" required>

          <input type="text" class="input" placeholder="Cooбщение *" name="message" required>
          <div class="checkbox-wrap">
            <input type="checkbox" id="check" required>
            <label for="check">{{ contact.tos }}</a></label>
          </div>
          <button class="submit" type="submit">{{ contact.submit }}</button>
        </form>
      </div>
    </div>
    <div class="container light-bg">
      <div class="half">
        <p class="small">Copyright 2019 Дом Балле</p>
      </div>
      <div class="half">
        <p class="small right">Design by <a href="https://www.brandbox.lv/" target="_blank"></a>Brandbox.lv</p>
      </div>
    </div>
    <div class="ornament-right"></div>
  </div>
</div>

<script type="text/javascript">
  function contactFormSuccess()
  {
  }
</script>