title = "ДОМ БАЛЛЕ"
url = "/"
layout = "default"

==

use Bboxdigi\Bale\Models\IndexPage;

function onStart()
{
  $this['heading'] = IndexPage::first()->getHeadingHtml();
}

==

<div class="container full-height  top home-header">
  <video id="promo-video" autoplay loop muted>
    <source src="{{'assets/images/bg-video.mp4'|theme}}?v=4">
  </video>

  <div class="top-section">

    <div class="spacer"></div>

    <h1 class="text-left-decoration">{{ heading | raw }}</h1>
    <a href="/overview" class="italic-link">Обзор Резиденций</a>
  </div>
  <div class="arr-down bounce"><img src="{{'assets/images/arr-down.svg'|theme}}" alt=""></div>
</div>
