title = "ИНФРАСТРУКТУРА"
url = "/infrastructure"
layout = "default"

==

use Bboxdigi\Bale\Models\Infrastructure;
use Bboxdigi\Bale\Models\InfrastructurePoint;
use Bboxdigi\Bale\Models\InfrastructureSolution;

function onStart()
{
  $this['infrastructure'] = Infrastructure::first();
  $this['infrastructure_points'] = InfrastructurePoint::all();
  $this['infrastructure_solutions'] = InfrastructureSolution::all();
}

==
<div class="container full-width">
  <div class="top-section">
    <div class="ornament-left"></div>
    <div class="ornament-right"></div>

    <div class="spacer"></div>

    <h1 class="text-left-decoration">{{ infrastructure.getHeadingHtml() | raw }}</h1>

    <p class="text-left-decoration-padding">{{ infrastructure.subheading }}</p>
    <div class="arr-down bounce"><img src="{{'assets/images/arr-down.svg'|theme}}" alt=""></div>
  </div>
</div>

<div class="container full-width-padded light-bg">
  <div class="alternating-sections infrastructure">
    {% for i, infrastructure_point in infrastructure_points %}
      <section class="expandable">
        <a href="#toggle" class="section-heading">{{ infrastructure_point.name }}<span class="caret"></span></a>
        {% if i % 2 == 0 %}
          <div class="content">
            <div class="left">
              <h3>{{ infrastructure_point.name }}</h3>
              <p>{{ infrastructure_point.description }}</p>
            </div>

            <div class="right">
              <img src="{{ infrastructure_point.picture.getPath() }}" class="infrastructure-pic">
            </div>
          </div>
        {% else %}
        <div class="content">
          <div class="left">
            <img src="{{ infrastructure_point.picture.getPath() }}" class="infrastructure-pic">
          </div>

          <div class="right">
            <h3>{{ infrastructure_point.name }}</h3>
            <p>{{ infrastructure_point.description }}</p>
          </div>
        </div>

        {% endif %}
      </section>
    {% endfor %}
  </div>
</div>

<div class="container full-width-padded dark-bg">
  <div class="infrastructure-solutions-section">
    <h2>{{ infrastructure.subheading2 }}</h2>

    <ul>
      {% for i, infrastructure_solution in infrastructure_solutions %}
        <li>
          <i class="img01" style="background-image: url({{ infrastructure_solution.picture.getPath() }});"></i>
          <p>{{ infrastructure_solution.description }}</p>
        </li>

        {% if i % 4 == 3 and i < infrastructure_solutions.count - 1 %}
          <li class="separator"></li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="ornament-left"></div>

    <p class="overview-link">
      <a class="italic-link" href="/overview">{{ infrastructure.overview_link }}</a>
    </p>
  </div>
</div>
