title = "ИНТЕРЬЕРЫ"
url = "/interrior"
layout = "default"

==

use Bboxdigi\Bale\Models\Interrior;

function onStart()
{
  $this['interrior'] = Interrior::first();
}

==
<div class="container full-width">
  <div class="top-section">
    <div class="ornament-left"></div>
    <div class="ornament-right"></div>

    <div class="spacer"></div>

    <h1 class="text-left-decoration">{{ interrior.getHeadingHtml() | raw }}</h1>

    <p class="text-left-decoration-padding">{{ interrior.subheading }}</p>
    <div class="arr-down bounce"><img src="{{'assets/images/arr-down.svg'|theme}}" alt=""></div>
  </div>
</div>

<div class="container full-width light-bg">
  <div class="large-slider-container">
    <div class="large-slider-section">
      <div class="large-slider">
        {% for picture in interrior.pictures %}
          <img src="{{ picture.getPath() }}">
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<div class="container light-bg interior-info">
  <div class="simple-text-section half">
    <h2>{{ interrior.caption1 }}</h2>

    <p>{{ interrior.getText1Html() | raw }}</p>

    <p>{{ interrior.getAddress1Html() | raw }}</p>
  </div>

  <div class="half">
    <img src="{{ interrior.picture1.getPath() }}" alt="">
  </div>
</div>

<div class="container light-bg interior-info">

  <div class="half">
    <img src="{{ interrior.picture2.getPath() }}" alt="">
  </div>
  <div class="simple-text-section half">
    <h2>{{ interrior.caption2 }}</h2>

    <p>{{ interrior.getText2Html() | raw }}</p>
    <p>{{ interrior.getAddress2Html() | raw }}</p>
  </div>
</div>

<div class="container light-bg interior-info2">
  <div class="interrior-slider">
    {% for i in 0..1 %}
      {% for picture in interrior.pictures_2 %}
        <div class="half">
          <img src="{{ interrior.getSlider2ThumbUrl(picture) }}" alt="" class="rounded">

          <h2>{{ picture.title }} </h2>

          <p>{{ interrior.getSlider2DescriptionHtml(picture.description) | raw }} </p>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

<div class="container full-width-padded light-bg">
  <div class="infrastructure-solutions-section">
    <p class="overview-link">
      <a class="italic-link" href="/overview">Обзор Резиденций</a>
    </p>
  </div>
</div>
