title = "МЕСТОПОЛОЖЕНИЕ"
url = "/location"
layout = "default"

==

use Bboxdigi\Bale\Models\LocationCategory;

function onStart()
{
  $this['location_categories'] = LocationCategory::all();
}

==

<div class="container full-height top location-header">
  <div class="map">
    {% for i, location_category in location_categories %}
      <div class="dot-group" data-location-group="{{ i }}">
        {% for j, location in location_category.locations %}
          <div class="dot" style="top: {{ location.position_y * 100 }}%; left: {{ location.position_x * 100 }}%" data-location="{{ i }}-{{ j }}"></div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="locations">
    <div class="all inner active" data-slide="all">
      <div class="all-locations button-wrapper text-left-decoration">
        {% for i, location_category in location_categories %}
          <button data-location-group="{{ i }}">{{ location_category.name }}</button>
        {% endfor %}
      </div>
    </div>

    {% for i, location_category in location_categories %}
      <div class="inner" data-slide="{{ i }}">
        <div class="button-wrapper text-left-decoration">
          <h3>{{ location_category.name }}</h3>
        </div>
        <div class="location-button-group">
          {% for j, location in location_category.locations %}
            <button class="location-button" data-location="{{ i }}-{{ j }}">{{ location.name }} - {{ location.distance }}</button>
          {% endfor %}
        </div>
        <div class="backbutton" data-slide="all"></div>
      </div> 

      {% for j, location in location_category.locations %}
        <div class="inner" data-slide="{{ i }}-{{ j }}">
          <div class="button-wrapper text-left-decoration">
            <h3>{{ location.name }}</h3>
          </div>
          <div class="location-button-group">
            <p>{{ location.description }}</p>
            <img src="{{ location.picture.getPath() }}" alt="">

          </div>
          <div class="backbutton" data-slide="{{ i }}"></div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
</div>

<div class="container full-width">
  <div class="top-section location">
    <div class="ornament-left"></div>
    <div class="ornament-right"></div>

    <div class="spacer"></div>

    <h1 class="text-left-decoration">ДОМ БАЛЛЕ -<br>имперская роскошь<br>наших дней</h1>

    <p class="text-left-decoration-padding">Дом Балле в Санкт-Петербурге – один из тех памятников градостроения Северной столицы, которые переживают новое рождение, органично входят в XXI век, сохраняя при том дух блистательного прошлого.</p>
    <h2><a href="/overview" class="italic-link">Обзор Резиденций</a></h2>
  </div>
</div>
