title = "ОБЗОР РЕЗИДЕНЦИЙ"
url = "/overview"
layout = "default"

==

use Bboxdigi\Bale\Models\Floor;
use Bboxdigi\Bale\Models\Flat;

function onStart()
{
  $this['floors'] = Floor::orderBy('number', 'ASC')->get();
  $this['floor_1'] = Floor::where('number', 1)->first();
  $this['floor_2'] = Floor::where('number', 2)->first();
  $this['floor_3'] = Floor::where('number', 3)->first();
  $this['floor_4'] = Floor::where('number', 4)->first();
  $this['floor_5'] = Floor::where('number', 5)->first();
  $this['flats'] = Flat::all();
}

==
<div class="container full-height top house-header">
  <div class="house">
    <h3 class="choose-floor">Выберите этаж:</h3>
    <svg width="100%" height="100%" viewBox="0 0 1600 900" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g id="house-overlay">
    <g id="floor1">
    <circle id="Ellipse" cx="1488" cy="629" r="10" fill="white"/>
    <path data-slide="1" id="shape" fill-rule="evenodd" clip-rule="evenodd" d="M126.007 551.475H521L593.686 581.5H1016L1103.09 551.475H1515C1520.01 551.527 1525 552 1525.84 559.626L1525 712L1497.5 713H1103.09L1016 678.626H593L521 713H111.076C111.076 713 96 713 92 712.5V558.5C92 558.5 90.5638 552 100.5 551.475C110.436 550.951 126.007 551.475 126.007 551.475Z" fill="white"/>
    </g>
    <g id="floor2">
    <circle id="Ellipse_2" cx="1488" cy="496" r="10" fill="white"/>
    <path data-slide="2" id="shape_2" fill-rule="evenodd" clip-rule="evenodd" d="M126.007 446.899H521L593.686 504.797H1018L1102 446.899H1516C1521.01 446.95 1523.25 447.93 1525.84 449.899L1526.26 550.378H1497.5H1103.09L1016 581H593L521 550.378H111.076C111.076 550.378 97 549.173 92 551.5V451.899C92 451.899 97.0638 447.423 107 446.899C116.936 446.374 126.007 446.899 126.007 446.899Z" fill="white"/>
    </g>
    <g id="floor3">
    <circle id="Ellipse_3" cx="1488" cy="396" r="10" fill="white"/>
    <path data-slide="3" id="shape_3" fill-rule="evenodd" clip-rule="evenodd" d="M124.507 351.475H519.5L592.186 435.899L1016.5 436.366L1102.5 351.475H1514.5C1519.51 351.527 1521.75 354.032 1524.34 356V358.886L1524.76 446.48H1496H1101.59L1018.13 504L593.972 504.5L521.408 446.48H109.576C109.576 446.48 98.3867 447.081 94 448.48L94.9852 357.109C94.9852 357.109 95.5638 352 105.5 351.475C115.436 350.951 124.507 351.475 124.507 351.475Z" fill="white"/>
    </g>
    <g id="floor4">
    <circle id="Ellipse_4" cx="1488" cy="303" r="10" fill="white"/>
    <path data-slide="4" id="shape_4" fill-rule="evenodd" clip-rule="evenodd" d="M124.007 254.475L522.5 255.5L593 367.5H1015.5L1101 256.5L1515 258C1520.01 258.052 1523.5 261.5 1524.34 264.525V267.411L1523.5 353.5C1514.51 350.358 1508.4 350.628 1496 350.81H1102.59L1016.5 436H592L519.5 350.81H109.576C109.576 350.81 98 350.299 95 353.5V260C95 260 95.0638 255.525 105 255C114.936 254.475 124.007 254.475 124.007 254.475Z" fill="white"/>
    </g>
    <g id="floor5">
    <circle id="Ellipse_5" cx="1488" cy="220.525" r="10" fill="white"/>
    <path data-slide="5" id="shape_5" fill-rule="evenodd" clip-rule="evenodd" d="M124.007 177.025H522.5L593 299.025H1015.5L1101 179.025L1515 182.025C1520.01 182.077 1523.5 184.025 1524.34 187.049V189.936L1524.5 262.025C1522.5 256.5 1509.4 257.152 1497 257.334L1100.59 256.334L1015.5 366.525H594L522.5 255.334L110.576 254.334C110.576 254.334 98 253.824 95 257.025V180.525C95 180.525 95.0638 177.549 105 177.025C114.936 176.5 124.007 177.025 124.007 177.025Z" fill="white"/>
    </g>
    </g>
    </svg>

  </div>
  <div class="floors" id="floors">
    <div class="floors-inner">
      <div class="main">
        <div class="floor-menu">
            <p>Этаж</p>
            {% for floor in floors %}
              <button {{ loop.index == 1 ? 'class="active"' : '' }} data-floor="{{ floor.number }}">{{ floor.number }}</button>
            {% endfor %}
        </div>
        {% for floor in floors %}
        <div class="slide{{ loop.index == 1 ? ' active' : '' }}" data-slide="{{ floor.number }}">
          <div class="floor" style="">
            <img src="{{ floor.plan_image.getThumb(688, 489) }}" alt="">
            <svg width="688" height="489" viewBox="0 0 688 489" fill="none" xmlns="http://www.w3.org/2000/svg">
              {% for flat in floor.flats %}
                {{ flat.plan_svg | raw }}
              {% endfor %}
            </svg>
          </div>
          <div class="floor-menu-bottom left">
            <a href="{{ floor.file.getPath() }}">Скачать план апартамента</a>
          </div>
        </div>
        {% endfor %}
        {% for flat in flats %}
          <div class="slide apartment" data-slide="{{ flat.key }}">
            <div class="floor" style="">
              <img src="{{ flat.plan_image.getPath() }}" alt="">
            </div>
            <div class="floor-menu-bottom">
              <div class="back" data-slide="{{flat.floor.number }}"></div>
              <div class="interier"><a href="#gallery">Интерьер</a></div>
              <a href="{{ flat.file.getPath() }}">Скачать план апартамента</a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="side">
        <div class="side-padding">
        <div class="side-inner">
          {% for floor in floors %}
            <div class="slide active" data-slide="{{ floor.number }}">
              <h3 class="number">Этаж Nº {{ floor.number }}</h3>
              <h3>{{ floor.description }}</h3>
            </div>
          {% endfor %}

          {% for flat in flats %}
            <div class="slide" data-slide="{{ flat.key }}">
              <h3 class="number">Nº {{ flat.number }}</h3>
              <img src="{{ flat.building_image.getPath() }}" alt="">
              <h3>Экспликация помещений</h3>
              <div class="underlined">
                <p>Интерьер</p>
                <p>{{ flat.interrior }}</p>
              </div>
              <div class="underlined">
                <p>Экстерьер</p>
                <p>{{ flat.exterrior }}</p>
              </div>
              <div class="underlined">
                <p>Потолки</p>
                <p>{{ flat.ceiling }}</p>
              </div>
              <div class="underlined">
                <p>Спальни</p>
                <p>{{ flat.bedrooms }}</p>
              </div>
              <div class="underlined">
                <p>WC</p>
                <p>{{ flat.wc }}</p>
              </div>
              <div class="content">
                <p>{{ flat.description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container full-width light-bg" id="gallery">
  {% for flat in flats %}
    <div class="gallery-container" data-slide="{{ flat.key }}">
      <div class="large-slider-container">
        <div class="large-slider-section">
          <div class="interior-slider">
            {% for picture in flat.pictures %}
              <img src="{{ picture.getPath() }}">
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
