@import "normalize";
@import "node_modules/lightslider/dist/css/lightslider";
@import "node_modules/webui-popover/dist/jquery.webui-popover";

@font-face {
  font-family: "Cocotte";
  src: url("../fonts/Cocotte-Regular.otf");
}

@font-face {
  font-family: "OldStandard";
  src: url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
}

$mobile-max-width: 809px;
$tablet-min-width: 810px;
$tablet-max-width: 1279px;
$desktop-min-width: 1280px;

$desktop-side-padding: 10%;
$mobile-side-padding: 4em;

$brown-font-color: #C78A4F;

@mixin secondary-header-1 {
  font-family: OldStandard;
  font-weight: normal;
  margin-bottom: 0.5em;
  color: $brown-font-color;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    font-size: 3.95em;
    line-height: 1em;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 5.86em;
    line-height: 1em;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 3em;
  }
}

@mixin secondary-header-2 {
  font-family: OldStandard;
  color: $brown-font-color;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    font-size: 5.87em;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 3em;
  }
}

@mixin strong-type-1 {
  font-family: Cocotte;
  color: $brown-font-color;
  text-align: left;
  font-weight: normal;

  @media (max-width: $tablet-max-width) {
    font-size: 3.95em;
    line-height: 1.5em;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 5.87em;
    line-height: 1.72em;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 3em;
    line-height: 1em;
  }
}

@mixin type-1 {
  font-family: OldStandard;
  color: $brown-font-color;
  text-align: left;

  @media (max-width: $tablet-max-width) {
    font-size: 2.22em;
    line-height: 1.56em;
  }

  @media (max-width: $mobile-max-width) {
    font-size: 4.27em;
    line-height: 1.56em;
  }

  @media (min-width: $desktop-min-width) {
    font-size: 1.5em;
    line-height: 1.25em;
  }
}

@mixin mobile-padding-1 {
  padding-left: $mobile-side-padding;
  padding-right: $mobile-side-padding;
}

@mixin text-left-decoration-padding {
  @media (max-width: $tablet-max-width) {
    padding-left: 6vw;
  }

  @media (min-width: $desktop-min-width) {
    padding-left: 3vw;
  }
}

@mixin text-left-decoration {
  position: relative;

  @media (min-width: $desktop-min-width) {
    padding-left: 3vw;
    padding-top: 1em;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 6vw;
    padding-top: 1em;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 0.5em;
  }


  &::before {
    content: " ";
    background: url("../images/text_left_decoration.svg") center no-repeat;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0.1em;
    background-size: 100% 100%;

    @media (max-width: $tablet-max-width) {
      width: 4vw;
      height: 3.6vw;
    }

    @media (min-width: $desktop-min-width) {
      width: 1em;
      height: 0.8em;
    }
  }

  &::after {
    content: " ";
    display: inline-block;
    width: 1px;

    background-color: $brown-font-color;
    position: absolute;

    @media (max-width: $tablet-max-width) {
      left: 2vw;
      bottom: 1.8vw;
      height: calc(100% - 6.8vw);
    }

    @media (min-width: $desktop-min-width) {
      left: 0.6em;
      bottom: 0.2em;
      height: calc(100% - 1.2em);
    }
  }
}

@mixin expandable-section-header {
  border-top: 1px solid $brown-font-color;
}

.arr-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
    z-index: 1;
    width: 60px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin: 0 auto 0 auto;
    transform-origin: bottom;
    img {
      width: 100%;
    }
 }
 .bounce {
     animation-name: bounce;
     animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
 }
 @keyframes bounce {
     0%   { transform: scale(1,1)      translateY(0); }
     10%  { transform: scale(1.1,.9)   translateY(0); }
     30%  { transform: scale(.9,1.1)   translateY(-20px); }
     50%  { transform: scale(1.05,.95) translateY(0); }
     57%  { transform: scale(1,1)      translateY(-7px); }
     64%  { transform: scale(1,1)      translateY(0); }
     100% { transform: scale(1,1)      translateY(0); }
 }

.btn-brown {
  text-align: center;
  font-size: 1.8vw;
  padding: 0.5vw 2vw;
  border: 1px solid $brown-font-color;
  border-radius: 5px;
  background-color: rgba(199, 138, 79, 0.1);
  transition: background-color 0.333s ease-in-out;
  font-family: OldStandard;

  &:hover {
    background-color: rgba(199, 138, 79, 0.2);
    transition: background-color 0.333s ease-in-out;
  }
}

body {
  margin: 0;
  font-size: 1vw;
  background: url("../images/paper_bg.png");
}

header {
  z-index: 100;
  position: relative;
}

button {
  background-color: unset;
  outline: none;
  border: none;
}

.gallery-container {
  display: none;
  &.active {
    display: block;
  }
}

.container.full-height.top.house-header {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  min-height: 56.2vw;
  .floors {
    padding-left: calc(max(16.9vw, 30.226vh));
    padding-top: 4em;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    .floors-inner {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;
    }
    .main {
      flex-shrink: 0;
      flex-grow: 1;
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      .slide {
        flex-grow: 1;
        display: none;
      }
      .apartment {
        max-height: calc(100% - 5vw);
        .floor {
          padding: 3rem;
          display: flex;
          justify-content: center;
          height: calc(100% - 80px);
          box-sizing: border-box;
          align-items: center;
          img {
            width: auto;
            max-height: 100%;
          }
        }
      }
      .floor {
        width: 100%;
        position: relative;
        font-size: 0;
        img {
          position: relative;
          z-index: 0;
          width: 100%;
        }
        svg {
          position: absolute;
          width: 100%;
          z-index: 1;
          top: 0;
          left: 0;
          height: 100%;
          path {
            fill: transparent;
            stroke: transparent;
            transition: fill 0.2s ease, stroke 0.2s ease;
            cursor: pointer;
            &.active, &:hover {
              fill: rgba(#EDE3CE, 0.6);
              stroke: rgba(#EDE3CE, 0.6);
            }
          }
        }
      }
      .floor-menu-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1em;
        &.left {
          justify-content: flex-end;
        }
        .back {
          width: 40px;
          height: 20px;
          background-repeat: no-repeat;
          background-position: center center;
          background-image: url('../images/arr_left.svg');
          background-size: contain;
          cursor: pointer;
        }
        .interier {
          padding-top: 1em;
          padding-left: 30px;
          background-image: url('../images/chair.png');
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 20px;
          a {
            display: block;
          }
        }
        a {
          font-family: OldStandard;
          color: $brown-font-color;
          text-align: left;
          font-weight: normal;
          padding: 0;
          line-height: 1;
          margin: 0;
          font-size: 1rem;
          padding-bottom: 0.2em;
          border-bottom: 1px solid $brown-font-color;

        }
      }
      .floor-menu {
        height: 5vw;
        padding-left: 6vw;
        flex-grow: 0;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        p, button {
          font-family: OldStandard;
          color: $brown-font-color;
          text-align: left;
          font-weight: normal;
          padding: 0;
          line-height: 1;
          margin: 0;
          @media (max-width: $tablet-max-width) {
            font-size: 1.9vw;
          }

          @media (max-width: $mobile-max-width) {
            font-size: 1.9vw;
          }

          @media (min-width: $desktop-min-width) {
            font-size: 1.9vw;
          }
        }
        p {
          margin-right: 1em;
        }
        button {
          margin-right: 0.5em;
          padding-bottom: 0;
          cursor: pointer;
          border-bottom: 1px solid transparent;
          transition: padding 0.2s ease, border 0.2s ease;
          &.active {
            padding-bottom: 0.5em;
            border-bottom: 1px solid $brown-font-color;
          }
        }
      }
    }
    .side {
      flex-shrink: 0;
      flex-grow: 1;
      width: 40%;
      overflow: auto;
      padding-top: 2em;
      display: flex;
      flex-direction: column;
      .slide {
        display: none;
      }
      .content {
        margin-top: 1em ;
        margin-bottom: 1em ;
      }
      .side-padding {

        font-size: 2vw;
        @include text-left-decoration;
      }
      .side-inner {
        overflow: auto;
        flex-grow: 1;
        padding-right: 1em;
        .number {
          display: block;
          font-size: 4vw;
          line-height: 1.4;
          font-family: Cocotte;
          color: $brown-font-color;
          text-align: left;
          padding: 0vw 0 0vw;
          margin: 1vw 0 1vw;
          font-weight: normal;
        }
        p {
          font-family: OldStandard;
          color: $brown-font-color;
          text-align: left;
          font-weight: normal;
          padding: 0;
          line-height: 1;
          margin: 0;
          font-size: 1rem;
        }
        .underlined {
          margin-bottom: 0.3em;
          padding-bottom: 0.2em;
          border-bottom: 1px solid $brown-font-color;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;
        }
        h3 {
          display: block;
          font-size: 2vw;
          line-height: 1.4;
          font-family: Cocotte;
          color: $brown-font-color;
          text-align: left;
          padding: 0vw 0 0vw;
          margin: 1vw 0 1vw;
          font-weight: normal;
        }
      }
    }
    @media (max-width: $mobile-max-width) {
      padding-left: 0;
      padding-top: 4em;
      padding-bottom: 4em;
      position: relative;
      display: none;
      &.active {
        display: flex;
      }
      .floors-inner {
        padding: 0 3em;
        flex-direction: column-reverse;
      }
      .main {
        width: 100%;
        .floor-menu {
          display: none;
        }
        .floor-menu-bottom {
          flex-direction: column-reverse;
          align-items: center;
          .interier {
            margin-top: 10px;
          }
          .back {
            margin-top: 15px;
          }
        }
      }
      .side {
        width: 100%;
        .side-inner {
          .number {
            font-size: 22px;
          }
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
  .house {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/floors.jpg');
    background-size: contain;
    height: 100vh;
    width: 177.8vh;
    min-height: 56.2vw;
    min-width: 100vw;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    transform: translateX(0);
    transition: transform 0.4s ease, right 0.4s ease;
    &.active {
      right: 100%;
      transform: translateX(17%);
    }
    .choose-floor {
      position: absolute;
      top: 10px;
      right: 90px;
      font-size: 22px;
      line-height: 1.4;
      font-family: OldStandard;
      color: #fff;
      text-align: left;
      font-weight: normal;
      display: none;
    }
    svg {
      path {
        transition: fill 0.3s ease;
        fill: rgba(#FFF, 0);
        cursor: pointer;
        position: relative;
        &:hover, &.active {
          fill: rgba(#FFF, 0.65);
        }
      }
    }
    @media (max-width: $mobile-max-width) {
      position: relative;
      float: right;
      &.active {
        right: 0;
        transform: translateX(0%);
      }
      .choose-floor {
        display: block;
      }
    }
  }
  @media (max-width: $mobile-max-width) {
    height: auto;
  }
}

.container.full-height.top.location-header {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  .map {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/map2.jpg');
    background-size: contain;
    height: 100vh;
    width: 202vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .dot-group {
      display: none;
    }
    .dot {
      transform: translate(-50%, -50%);
      width: 1.8vw;
      height: 1.8vw;
      position: absolute;
      border-radius: 50%;
      background-color: $brown-font-color;
      cursor: pointer;
      &:after {
        content: ' ';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 4px solid $brown-font-color;
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.2s ease, width 0.2s ease, height 0.2s ease;
      }
      &.active, &:hover, &.hover {
        &:after {
          opacity: 1;
          width: 200%;
          height: 200%;
        }
      }
    }
  }
  .locations {
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 43%;
    background-color: rgba(#fff, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    .inner {
      position: absolute;
      width: 100%;
      padding: 6.2%;
      box-sizing: border-box;
      display: none;
      max-height: 100%;
      overflow-y: scroll;
      padding-top: 5em;
      &.all {
        display: block;
      }
      .backbutton {
        width: 2.5vw;
        height: 1.5vw;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/arr_left.svg');
        background-size: contain;
        cursor: pointer;
        margin-top: 3vw;
        @media (max-width: $tablet-max-width) {
          margin-left: 6vw;
        }

        @media (min-width: $desktop-min-width) {
          margin-left: 3vw;
        }
      }
      &::-webkit-scrollbar {
        display: none;
      }
      .button-wrapper {
        font-size: 2vw;
        @include text-left-decoration;
        h3 {
          display: block;
          font-size: 3vw;
          line-height: 1.4;
          font-family: Cocotte;
          color: $brown-font-color;
          text-align: left;
          padding: 0vw 0 0vw;
          margin: 1vw 0 1vw;
          font-weight: normal;
        }
        button {
          display: block;
          font-size: 3vw;
          line-height: 1.4;
          font-family: Cocotte;
          color: $brown-font-color;
          text-align: left;
          font-weight: normal;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      img {
        max-width: 100%;
      }
      p {
        @include type-1;
        @media (max-width: $tablet-max-width) {
          font-size: 1.32vw;
        }

        @media (max-width: $mobile-max-width) {
          font-size: 1.32vw;
        }

        @media (min-width: $desktop-min-width) {
          font-size: 1.32vw;
        }
      }
      .location-button {
        @include type-1;
        font-size: 1.32vw;
        display: block;
        padding: 0;
        margin-bottom: 1em;
        cursor: pointer;
        @media (max-width: $tablet-max-width) {
          font-size: 1.32vw;
        }

        @media (max-width: $mobile-max-width) {
          font-size: 1.32vw;
        }

        @media (min-width: $desktop-min-width) {
          font-size: 1.32vw;
        }
        &.active, &:hover, &.hover {
          text-decoration: underline;
        }
        &-group {
          @include text-left-decoration-padding;
        }
      }
    }
  }
  @media (max-width: $mobile-max-width) {
    height: auto;
    .map {
      height: 50vw;
      width: 101vw;
      position: relative;
      .dot {
        width: 20px;
        height: 20px;
      }
    }
    .locations {
      width: 100%;
      position: relative;
      .inner {
        position: relative;
        .button-wrapper {
          button {
            font-size: 22px;
          }
          h3 {
            font-size: 22px;
          }
        }
        .location-button {
          font-size: 16px;
        }
        p {
          font-size: 16px;
        }
        .backbutton {
          width: 40px;
          height: 20px;
        }
      }
    }
  }
}

.home-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;

  #promo-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(-50%) translateY(-50%);
  }

  .top-section {
    color: #ffffff;
    min-height: unset;
    padding: 2vw 0;

    h1 {
      margin-bottom: 4vw;
      &:before {
        background-image: url('../images/text_left_decoration.svg');
        filter: brightness(1000);
      }
      &:after {
        background-color: #ffffff;
      }
    }

    a {
      margin-left: 3vw;
    }

    .italic-link {
      font-size: 2vw;
      color: #ffffff;
      border-color: #ffffff;
    }
  }

}

a {
  color: unset;
  text-decoration: none;
}

a.italic-link {
  font-family: OldStandard;
  font-style: italic;
  text-decoration: none;
  font-size: 3vw;
  padding-bottom: 5px;
  color: #c78a4f;
  border-bottom: 0.2vw solid #c78a4f;
}


.container {
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;

  @media (min-width: $desktop-min-width) {
    padding: 0 $desktop-side-padding;
  }

  &.full-width-padded {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;

    @media (min-width: $desktop-min-width) {
      padding-left: 10%;
      padding-right: 10%;
    }
  }

  &.full-width {
    @media (min-width: $desktop-min-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &.full-height {
    height: 100vh;
    &.top {
      margin-top: -4em;
      padding-top: 4em;
    }
    @media (max-width: $mobile-max-width) {
      &.top {
        margin-top: 0;
        padding-top: 0;
      }
    }
  }

  &:not(.full-width-padded):not(.full-width) {
    background-color: #f8f8f8;

    @media (min-width: $desktop-min-width) {
      padding-left: $desktop-side-padding;
      padding-right: $desktop-side-padding;
    }
  }
}

.light-bg {
  background-color: #f9f9f9;
}

.dark-bg {
  background-color: #efefef;
}

.header-mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .logo {
    position: absolute;
    left: 0;
    background-color: #fff;
    top: 0;
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 75px;
    }
  }
  .burger {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 30px;
    right: 26px;
    cursor: pointer;
    border-radius: 50%;
    background-color: $brown-font-color;
    background-image: url('../images/burger.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px;
  }
  @media (max-width: $mobile-max-width) {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  display: none;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  min-height: 100%;
  background: url(../images/ornament_right.svg), url(../images/ornament_left.svg),url("../images/paper_bg.png") ;
  background-repeat: no-repeat;
  background-position: right bottom, left bottom, center center;
  background-size: 40%, 40%, cover;
  .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  a {
    color: $brown-font-color;
    font-family: Cocotte;
    font-size: 20px;
    margin-bottom: 25px;
    text-decoration: none !important;
    line-height: 1.5;
  }
  .logo {
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
    top: 0;
    width: 94px;
    height: 94px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 75px;
    }
  }
  .close {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 30px;
    right: 26px;
    cursor: pointer;
    border-radius: 50%;
    background-color: $brown-font-color;
    background-image: url('../images/close.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 17px;
  }
  @media (min-width: $tablet-min-width) {
    display: none !important;
  }
}

.header-container {
  max-width: 100%;
  margin: 0;
  background-color: #f8f8f8;
  height: 4em;
  min-height: 4em !important;
  padding: 0 $desktop-side-padding;
  overflow-x: unset;

  ul {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    li {
      list-style-type: none;
      height: 100%;

      a {
        color: $brown-font-color;
        font-family: Cocotte;
        font-size: 1.1em;
        text-decoration: none !important;
        line-height: 4em;

        .phone {
          display: inline-block;
          width: 1.5em;
          height: 1.5em;
          background: url("../images/phone.png") center no-repeat;
          background-size: 100%;
          margin-right: 1em;
          vertical-align: middle;
          margin-top: -0.33em;
        }
      }
    }
  }

  .logo {
    display: inline-block;
    width: 5em;
    height: 4em;
    background: url("../images/logo.png") center no-repeat;
    background-size: contain;
  }

  @media (max-width: $mobile-max-width) {
    display: none;
  }
}

.ornament-left {
  background: url("../images/ornament_left.svg") center no-repeat;
  background-size: contain;
}

.ornament-right {
  background: url("../images/ornament_right.svg") center no-repeat;
  background-size: contain;
}

.top-section {
  font-family: Cocotte;
  color: $brown-font-color;
  position: relative;
  overflow: hidden;
  padding-bottom: 2vw;
  box-sizing: border-box;

  &.contacts {
    background-color: #fff;
    min-height: 100vh;
    margin-top: -4em;
    padding: 8em 0 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      padding: 0;
      margin: 4em 0;
      &.small {
        margin: 0;
        font-size: 14px;
      }
      &.right {
        text-align: right;
      }
    }
    label {
      font-family: OldStandard;
      font-weight: normal;
      font-size: 1.1em;
      a {
        text-decoration: underline;
      }
    }
    .ornament-right {
      top: 65%;
    }
    .input {
      background: none;
      border: none;
      border-bottom: 1px solid $brown-font-color;
      padding-bottom: 5px;
      margin-bottom: 1em;
      font-size:2vw;
      color: $brown-font-color;
      width: 100%;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: 2vw;
        color: $brown-font-color;
      }
      &.half-input {
        width: 48%;
        @media (max-width: $mobile-max-width) {
          width: 100%;
        }
      }
    }
    .submit {
      font-family: OldStandard;
      font-weight: normal;
      font-size: 2em;
      font-style: italic;
      border-bottom: 1px solid $brown-font-color;
      margin-top: 2em;
      color: $brown-font-color;
    }
    .form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .email {
      display: block;
      line-height: 1.4;
      @media (min-width: $desktop-min-width) {
        font-size: 3.2vw;
      }

      @media (max-width: $tablet-max-width) {
        font-size: 4.22vw;
      }

      @media (max-width: $mobile-max-width) {
        font-size: 5.27vw;
      }
    }
    .phone, h2 {
      display: block;
      line-height: 1.4;
      @media (min-width: $desktop-min-width) {
        font-size: 2.2vw;
      }

      @media (max-width: $tablet-max-width) {
        font-size: 3.22vw;
      }

      @media (max-width: $mobile-max-width) {
        font-size: 4.27vw;
      }
    }
    .container {
      background-color: #fff;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
      &.grow {
        flex-grow: 1;
        align-items: center;
      }
    }
    .half {
      width: 50%;
      box-sizing: border-box;
      padding: 0 4em;
      h2 {
        margin-top: 0;
        width: 100%;
      }
      @media (max-width: $tablet-max-width) {
        width: 100%;
      }

    }
    @media (max-width: $mobile-max-width) {
      padding-top: 130px;
    }
  }

  &.location {
    background-color: #fff;
    h2 {
      margin-top: 5rem;
      text-align: center;
    }
  }

  @media (max-width: $tablet-max-width) {
    min-height: calc(100vh - 4vw);
    @include mobile-padding-1;
  }

  @media (max-width: $mobile-max-width) {
    min-height: 100vh;
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    padding-top: 20vw;
    padding-bottom: 5vw;
  }

  @media (min-width: $desktop-min-width) {
    padding: 10vw 33% 10vw 33%;
  }

  .ornament-left, .ornament-right {
    position: absolute;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 40vw;

    .ornament-right {
      width: 70.4vw;
      height: 36.26vw;
      right: -10%;
      top: 0%;
    }
  }

  @media (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
    .ornament-right {
      width: 33.95vw;
      height: 20.49vw;
      right: -10%;
      top: 20vw;
    }

    .ornament-left {
      width: 34.07vw;
      height: 20.37vw;
      left: 0;
      bottom: -10%;
    }
  }

  @media (min-width: $desktop-min-width) {
    .ornament-left {
      left: -7vw;
      top: 45%;
      width: 30vw;
      height: 18vw;
    }

    .ornament-right {
      right: -11vw;
      top: 30%;
      width: 30vw;
      height: 18vw;
    }
  }

  h1 {
    @include text-left-decoration;

    @media (min-width: $desktop-min-width) {
      font-size: 2.5vw;
      font-weight: normal;
    }

    @media (max-width: $tablet-max-width) {
      font-size: 3.95vw;
      line-height: 6.29vw;
    }

    @media (max-width: $mobile-max-width) {
      font-size: 5.87vw;
      line-height: 9.06vw;
    }
  }

  p {
    @include text-left-decoration-padding;

    font-family: OldStandard;

    @media (min-width: $desktop-min-width) {
      font-size: 1.2vw;
    }

    @media (max-width: $tablet-max-width) {
      font-size: 2.22vw;
      line-height: 3.82vw;
    }

    @media (max-width: $mobile-max-width) {
      font-size: 4.27vw;
      line-height: 6.67vw;
    }
  }
}

.slider-section-container {
  overflow-x: hidden;

  .slider-section {
    padding: 1em 0;
    overflow: hidden;
    width: 150%;
    margin-left: -25%;

    h2 {
      @include secondary-header-1;
      font-style: italic;
      margin: 1em 0;
    }

    .feature-slider {
      height: auto !important;

      .active + * {
        .title, .description {
          opacity: 1;
          transition: opacity 0.5s ease-in-out;
        }
      }

      & > * {
        text-align: center;
        color: $brown-font-color;

        .title, .description {
          opacity: 0;
          transition: opacity 0.5s ease-in-out;
        }

        .image {
          background-size: cover;
          background-position: center;
          border-radius: 50%;
          width: 100%;
          margin: 0 auto;

          &::after {
            content: " ";
            display: block;
            padding-bottom: 100%;
          }
        }

        .title {
          margin: 2rem auto;
          font-size: 3em;
          font-family: Cocotte;
        }

        .description {
          font-size: 1.5em;
          line-height: 1.25em;
        }
      }
    }
  }
}

img {
  max-width: 100%;
}

.interior-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;

  .half {
    width: 50%;
    box-sizing: border-box;
    padding: 0 4em;

    &.picture {
      padding: 0;
    }

    h2 {
      margin-top: 0;
    }
  }
  .labels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1em;
    a {
      font-family: OldStandard;
      font-size: 1.2em;
      text-decoration: none;
      padding-bottom: 5px;
      color: #c78a4f;
      border-bottom: 1px solid #c78a4f;
    }
    .logo {
      max-width: 140px;
    }
  }
}

.interior-info2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  padding: 2em 0;

  .interrior-slider {
    height: auto !important;

    .half {
      width: 50%;
      box-sizing: border-box;
      padding: 0 2em;
      text-align: center;
    }

    .rounded {
      border-radius: 100000px;
      width: 27em;
    }

    h2, p {
      color: $brown-font-color;
    }

    h2 {
      font-size: 3em;
      font-family: Cocotte;
      font-weight: normal;
      margin-bottom: 0;
    }

    p {
      font-size: 1.5em;
    }
  }
}

.feature-slider-caption {
  color: $brown-font-color;
  text-align: center;
  padding: 0 2em 4em 2em;

  h3 {
    @include secondary-header-1;
    font-family: Cocotte;
  }

  p {
    @include type-1;
    margin-top: 0.5em;
    text-align: center;
  }
}

.alt-slider-container {
  padding: 2em 0;
  overflow-x: hidden;

  .alt-slider-section {
    width: 200vw;
    margin-left: -50vw;
  }

  .slide {
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
}

.large-slider-container {
  overflow-x: hidden;
  padding: 2em 0;

  .large-slider-section {
    width: 150vw;
  }
}

.overview-section {
  padding: 5em 8em 5em 8em;
  position: relative;
  overflow-x: hidden;

  @media (max-width: $mobile-max-width) {
    padding-bottom: 25vw;
  }

  .overview-content {
    @media (min-width: $tablet-min-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .text {
        order: 1;
        width: 50%;
      }

      img.overview {
        margin-top: 4em;
        order: 2;
        align-self: flex-start;
        height: auto;
        width: 40%;
      }
    }
  }

  h2 {
    @include secondary-header-2;
  }

  img.overview {
    display: block;
    margin: 10em auto;
    width: 61.86em;
    height: 61.86em;
    border-radius: 50%;
  }

  h3 {
    @include strong-type-1;

    @media (min-width: $tablet-min-width) {
      @include text-left-decoration;
    }
  }

  p {
    @include type-1;

    @media (min-width: $tablet-min-width) {
      @include text-left-decoration-padding;
    }
  }

  .ornament-right {
    position: absolute;
    right: -22vw;
    bottom: 0;

    @media (max-width: $mobile-max-width) {
      width: 67.73vw;
      height: 40.8vw;
    }
  }
}

.alternating-sections {
  padding-top: 4em;
  padding-bottom: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  @include mobile-padding-1;

  @media (min-width: $desktop-min-width) {
    section {
      padding-left: 5%;
      padding-right: 5%;
      box-sizing: border-box;
    }
  }
}

section.expandable {
  position: relative;
  width: 100%;
  &.half {
    width: 50%;
    @media (max-width: $mobile-max-width) {
      width: 100%;
    }
  }

  @media (max-width: $mobile-max-width) {
    &::before {
      content: " ";
      background-color: $brown-font-color;
      position: absolute;
      top: 1px;
      right: 0;
      display: block;
      width: calc(100% - 6vw);
      height: 1px;
    }
  }

  .section-heading {
    @include strong-type-1;
    @include text-left-decoration;
    display: block;
    text-decoration: none !important;
    position: relative;

    @media (min-width: $tablet-min-width) {
      cursor: text;
    }

    .caret {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1em;
      height: 0.5em;
      background: url("../images/caret_down.svg") center no-repeat;
      background-size: 100% 100% !important;

      @media (min-width: $tablet-min-width) {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-min-width) {
    .section-heading {
      display: none;
    }

    h3 {
      @include strong-type-1;
      @include text-left-decoration;
      display: block;
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left, .right {
        width: 49%;
      }
    }
  }

  &.expanded .caret {
    background: url("../images/caret_up.svg") center no-repeat;
  }

  .content {
    margin-bottom: 2em;

    @media (max-width: $mobile-max-width) {
      display: none;

      h3 {
        display: none;
      }
    }

    @media (min-width: $tablet-min-width) {
      position: relative;

      .ornament-left, .ornament-right {
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 34em;
        height: 20em;
      }

      .ornament-left {
        left: -23em;
      }

      .ornament-right {
        right: -23em;
      }
    }

    p {
      @include type-1;
      @include text-left-decoration-padding;
    }

    .images {
      margin-top: 3em;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;

      .item {
        text-align: center;
        width: 25%;
        box-sizing: border-box;
        padding: 0 0.6em;
        margin: 0 0 2em 0;


        img {
          width: 100%;
          border-radius: 100000px;
        }

        .name {
          @include type-1;
          display: block;
          font-style: italic;
          text-align: center;
        }
        @media (max-width: $tablet-max-width) {
          width: 33%;
        }

        @media (max-width: $mobile-max-width) {
          width: 50%;
          padding: 0 5em;
        }

        @media (min-width: $desktop-min-width) {
          width: 25%;
        }
      }
    }
  }
}

.infrastructure {
  @media (min-width: $desktop-min-width) {
    &.alternating-sections {
      &, section {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .infrastructure-pic {
    width: 34.81em;
    height: 34.81em;
    border-radius: 50%;
    display: block;
    margin: 2em auto;

    @media (min-width: $desktop-min-width) {
      width: 27em;
      height: 27em;
    }
  }
}

.infrastructure-solutions-section {
  padding: 4em;

  @media (min-width: $desktop-min-width) {
    padding: 4em 0;
  }

  h2 {
    @include text-left-decoration;
    @include secondary-header-1;
    font-family: Cocotte;
    text-align: left;

    @media (max-width: $mobile-max-width) {
      padding-left: 12.5vw !important;

      &::before {
        left: 1.8vw;
      }

      &::after {
        left: 3.8vw;
      }
    }

    @media (min-width: $tablet-min-width) {
      padding-left: 1.5em !important;
    }
  }

  ul {
    padding-left: 0;

    li {
      list-style-type: none;

      @media (min-width: $tablet-min-width) {
        display: inline-block;
        width: 49.5%;
      }

      &.separator {
        display: none;

        @media (min-width: $desktop-min-width) {
          display: block;
          width: 100%;
          height: 1px;
          background-color: $brown-font-color;
          margin: 3em 0;
        }
      }

      i {
        display: inline-block;
        vertical-align: middle;
        background-size: contain !important;

        @media (max-width: $mobile-max-width) {
          width: 8em;
          height: 8em;
          padding-left: 0;
          margin-right: 5em;
        }

        @media (min-width: $tablet-min-width) {
          width: 4em;
          height: 4em;
          margin-right: 2.5em;
        }

        &.img01 {
          background: url("../images/inf01.svg") center no-repeat;
        }

        &.img02 {
          background: url("../images/inf02.svg") center no-repeat;
        }

        &.img03 {
          background: url("../images/inf03.svg") center no-repeat;
        }

        &.img04 {
          background: url("../images/inf04.svg") center no-repeat;
        }

        &.img05 {
          background: url("../images/inf05.svg") center no-repeat;
        }

        &.img06 {
          background: url("../images/inf06.svg") center no-repeat;
        }

        &.img07 {
          background: url("../images/inf07.svg") center no-repeat;
        }

        &.img08 {
          background: url("../images/inf08.svg") center no-repeat;
        }

        &.img09 {
          background: url("../images/inf09.svg") center no-repeat;
        }

        &.img10 {
          background: url("../images/inf10.svg") center no-repeat;
        }

        &.img11 {
          background: url("../images/inf11.svg") center no-repeat;
        }

        &.img12 {
          background: url("../images/inf12.svg") center no-repeat;
        }
      }

      p {
        @include type-1;
        display: inline-block;
        width: calc(100% - 5em);
        vertical-align: middle;
      }
    }
  }

  .ornament-left {
    width: 58.93em;
    height: 35.46em;

    @media (max-width: $tablet-max-width) {
      margin-left: -22em;
    }

    @media (min-width: $desktop-min-width) {
      margin-left: calc(-10vw - 19em);
    }
  }

  .overview-link {
    text-align: center;
    margin-top: -6em;
    margin-bottom: 6em;

    @media (min-width: $tablet-min-width) {
      margin-top: 0;
    }

    a {
      @include secondary-header-2;
    }
  }
}

.simple-text-section {
  padding: 4em;

  h2 {
    @include text-left-decoration;
    @include strong-type-1;
    padding-bottom: 0.2em;
    @media (min-width: $desktop-min-width) {
      padding-top: 1.4em;
    }

    @media (max-width: $tablet-max-width) {
      padding-top: 1.4em;
    }

    @media (max-width: $mobile-max-width) {
      padding-top: 0.7em;
    }
  }

  p {
    @include type-1;
    @include text-left-decoration-padding;
  }
}

.address-section {
  @media (max-width: $mobile-max-width) {
    p {
      padding-left: 4em;
      padding-right: 4em;
    }
  }

  p {
    margin-bottom: 1em;
  }

  a {
    color: $brown-font-color;

    &.no-underline {
      text-decoration: none !important;
    }
  }

  .krassky {
    display: inline-block;
    background: url("../images/krassky.svg") center no-repeat;
    background-size: 100%;
    width: 40.26vw;
    height: 12.8vw;
  }
}


footer {
  font-family: OldStandard;
  color: $brown-font-color;
  background: url("../images/paper_bg.png");

  @media (max-width: $tablet-max-width) {
    @include mobile-padding-1;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  @media (min-width: $desktop-min-width) {
    padding: 12em 8em;
  }

  .email, .phone {
    @include type-1;
    font-family: Cocotte;
    display: block;
    text-decoration: none !important;

    @media (min-width: $tablet-min-width) {
      font-size: 5.87em;
    }

    @media (min-width: $desktop-min-width) {
      font-size: 4em;
    }
  }

  .address {
    @include type-1;
  }

  .copyright {
    @include type-1;

    a {
      text-decoration: none !important;
      color: $brown-font-color;
    }
  }

  .contact-button {
    display: inline-block;
  }

  .presentation-link {
    display: inline-block;
    margin-left: 1vw;
  }

  .footer-img {
    margin-top: 4em;
    width: 16rem;
  }
}

.neighbors {
  .item {
    cursor: pointer;
  }
}

.webui-popover {
  .webui-arrow {
  }

  .webui-popover-content {
    color: $brown-font-color;
    font-family: OldStandard;
  }
}
